@import "../../../style/config/media.scss";
@import "../../../style/config/colors.scss";

.game {
	width: 100%;
	min-height: 200px;
	padding: 150px 50px;
	background-color: $dark-purple;

	&__wrapper {
		display: flex;
		justify-content: center;
	}
}

@media (max-width: $md) {
	.game {
		align-items: flex-start;

		&__wrapper {
			flex-direction: column;
			align-items: center;
		}
	}
}
