@import "../../style/config/colors.scss";
@import "../../style/config/typography.scss";
@import "../../style/config/media.scss";

.footer {
	width: 100%;
	background-color: $transparent-green;

	&__wrapper {
		padding: 100px 0 20px;
	}

	&__social {
	}

	&__email {
		margin-bottom: 40px;

		a {
			color: $dark-purple;
			@include headline-3;
			transition: color 0.2s linear;

			&:hover {
				color: $ligth-purple;
			}
		}
	}

	&__links {
		display: flex;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 80px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;

		span {
			@include body-sm-bold;
		}

		img {
			max-height: 40px;
		}
	}

	&__title {
		display: flex;
		justify-content: center;
		align-items: center;

		h1 {
			margin-top: 100px;
		}
	}
}

@media (max-width: $lg) {
	.footer {
		&__email {
			text-align: center;

			a {
				font-size: 25px;
				line-height: 36px;
			}
		}

		&__links {
			flex-direction: column;
		}

		&__item {
			margin-right: 0;
			margin-bottom: 20px;
		}

		&__title {
			text-align: center;

			h1 {
				margin-top: 100px;
			}
		}
	}
}
